---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizajePantalla from '@/components/ObjetoAprendizajePantalla.astro'
import BgFluido from '@/components/BgFluido.astro'
import Lumi from '@/components/Lumi.astro'
import Hr from '@/components/Hr.astro'
---

<Layout
  title="Producto de Polinomios"
  description="En este contenido se explica los diferentes productos de un polinomio dependiendo de que tipo de polinomio se trate"
>
	<ObjetoAprendizajePantalla index={1} pantallaIndex={2} asignatura={'matematicas_4'} />
	<div class="objeto-aprendizaje mx-auto animate-fade">
	   <div class="mx-auto max-w-screen-xl">
			        <h4 class="my-5">CASO 1. PRODUCTO DE UN POLINOMIO POR UN MONOMIO.
				    </h4>
			        <p class="my-5">
				     En este caso se aplica la propiedad distributiva de los números reales
				      <Latex inline formula="\[(a+b)c=ac +bc \]">
				     , multiplicando cada término del polinomio por el monomio y aplicando las leyes de los exponentes
				      <Latex inline formula="\[ a^n\cdot a^m=a^{n+m} \]">
			        </p>
			    <BgFluido bg="bg-blue">
				    <h4>
				     <div class="text-white">EJEMPLO:
				     </div>
				    </h4>
				    <div class="text-white">
				     <p class="my-5 text-center">
					   <Latex inline formula="\(2x^2+x-1)(3x)=(2x^2)(3x)+(x)(3x)-(1)(3x\)">
					  =
					   <Latex inline formula="\(6x^3+3x^2-3x \)">
					 </p>
				    </div>
			        <Hr />
			    </BgFluido>
				  <h4 class="my-5">
				   CASO 2. PRODUCTO DE UN POLINOMIO POR OTRO POLINOMIO.
				  </h4>
				  <p class="my-5">
					Cuando hay varios términos en los polinomios podría resultar más práctico hacer la
					operación vertical en vez de multiplicar todos los términos del primer polinomio
					por cada uno de los términos del segundo polinomio y realizar la suma de cada uno
					de ellos, debido a que verticalmente directamente se colocan los productos debajo
					de los términos comunes.
				  </p>
				<BgFluido bg="bg-blue">
				   <h4>
					<div class="text-white">EJEMPLO:</div></h4>
					<div class="text-white">
					    <p class="my-10">
						  <Latex formula="\[(5x^2-2x+1)( 3x^2+4x+2)\]">
					    </p>
					    <p class="my-5 text-center"></p>
						<p class="my-10 text-center"></p>
						<p class="my-1 text-center">
						  <Latex formula="\[5x^2-2x+1\]">
						</p>
						<p class="my-1 text-center">
						  <Latex formula="\\times\[3x^2+4x+2\]">
						</p>
						<p class="my-1 text-center">
						  --------------------------------------
						</p>
						<p class="my-1 text-center">
						  <Latex formula="\[15x^4-6x^3+3x^2\]">
						</p>
						<p class="my-1 text-center">
						  <Latex inline formula="\[20x^3-8x^2+4x\]">
						</p>
		                <p class="my-1 text-center">
						  <Latex inline formula="\[10x^2-4x+2\]">
						</p>
						<p class="my-1 text-center">
							------------------------------------------------------
						</p>
						<p class="my-1 text-center">
							<Latex formula="\[15x^4+14x^3-5x^2+0x+2 \]">
						</p>
                        <p class="my-20">
							Por lo tanto:
							<Latex inline formula="\[ (5x^2-2x+1)( 3x^2+4x+2)=15x^4+14x^3-5x^2+2 \]"></Latex>
						</p>
						<Hr />


					</div>
				</BgFluido>

			</div>
			<Lumi
				src="/matematicas4/Funciones-Polinomiales/Ej-5-FP.html"
				nombre="Ejercicio de Repaso"
				instrucciones="Multiplica los siguientes polinomios u selecciona la respuesta correcta."
			/>
	</div>
</Layout>
