---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizaje from "@/components/ObjetoAprendizaje.astro";
---

<Layout>

    <ObjetoAprendizaje index={3} asignatura={"calculo"} />
    <div class="objeto-aprendizaje mx-auto animate-fade">
      Aquí va el contenido 👈
    </div>

</Layout>
