:root {
color-scheme: dark;
--red-pantone: 230 57 70;
--honeydew: 241 250 238;
--non-photo-blue: 168 218 220;
--cerulean: 69 123 157;
--berkeley-blue: 4 5 5;
--darkest-blue: 8 20 36;
--css-red-pantone: rgb(230 57 70);
--css-honeydew: rgb(241 250 238);
--css-non-photo-blue: rgb(168 218 220);
--css-cerulean: rgb(69 123 157);
--css-berkeley-blue: rgb(4 5 5);
--css-darkest-blue: rgb(8 20 36);
}
html {
  font-family: "Onest Variable", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--css-darkest-blue);
}
.objeto-aprendizaje {
  h3{
    color: var(--css-red-pantone);
    font-weight: bolder;
    font-size: 2.1em;
    text-transform: uppercase;
    text-wrap: pretty;
  }
  p{
    text-wrap: pretty;
  }
  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.img-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  font-size: 0.8em;
  text-align: center;
  margin-top: 0.5rem;
  border-left: .22rem var(--css-red-pantone) solid;
  padding-left: 0.5rem;
}
