:root {
color-scheme: dark;
--red-pantone: 230 57 70;
--honeydew: 241 250 238;
--non-photo-blue: 168 218 220;
--cerulean: 69 123 157;
--berkeley-blue: 4 5 5;
--darkest-blue: 8 20 36;
--css-red-pantone: rgb(230 57 70);
--css-honeydew: rgb(241 250 238);
--css-non-photo-blue: rgb(168 218 220);
--css-cerulean: rgb(69 123 157);
--css-berkeley-blue: rgb(4 5 5);
--css-darkest-blue: rgb(8 20 36);
--headings-xl: clamp(1.7rem, 2.1vw, 2.2rem);
--headings-lg: clamp(1.4rem, 1.7vw, 1.9rem);
}

html {
  font-family: "Onest Variable", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: var(--css-darkest-blue);
}
.objeto-aprendizaje {
  > div.max-w-screen-xl, .max-charater {
    max-width: clamp(50ch, 80%, 75ch);
  }
}
.objeto-aprendizaje {


  h3{
    color: var(--css-red-pantone);
    font-weight: 900;
    font-size: var(--headings-xl);
    text-transform: uppercase;
    text-wrap: pretty;
      padding:0 1rem;
    @media (min-width: 768px) {
      padding: 0;
    }
  }
  h4{
    color: var(--css-red-pantone);
    font-weight: 600;
    font-size: var(--headings-lg);
    text-wrap: pretty;
      padding:0 1rem;
    @media (min-width: 768px) {
      padding: 0;
    }
  }
  p{
    text-wrap: pretty;
      padding:0 1rem;
    @media (min-width: 768px) {
      padding: 0;
    }
  }
  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  a {
    text-decoration: underline;
  }
}

.img-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  font-size: 0.8em;
  text-align: center;
  margin-top: 0.5rem;
  border-left: .22rem var(--css-red-pantone) solid;
  padding-left: 0.5rem;
}
.ol-alpha, .ol-number, .ul-disc {
  list-style: none;
  counter-reset: item;
  > li {
    position: relative;
    counter-increment: item;
    margin-bottom: 2rem;
    align-items: center;
    padding-left: 3rem;
  }
  > li:before {
    position: absolute;
    left: 0.2rem;
    background: var(--css-cerulean);
    border-radius: 100%;
    color: var(--css-honeydew);
    min-width: 2rem;
    min-height: 2rem;
    text-align: center;
    font-weight: 900;
    line-height: 2rem;
    font-size: 1rem;

  }
}
.ol-alpha {
  > li:before {
    margin-right: 1rem;
    content: counter(item, lower-alpha);
  }
}
.ol-number {
  > li:before {
    content: counter(item);
  }
}
.ul-disc {
  > li {
    padding-left: 2rem;
  }
  > li:before {
    top: 0.5rem;
    content: "";
    max-width: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    max-height: 1rem;
  }
}
.ul{
  list-style: disc;
}
.ol-letra{
  list-style: lower-alpha;
}
.table-responsive {
  overflow-x:auto;
}
.table {
	width:100%;
  thead {
    color: var(--css-darkest-blue);
    background-color: rgb(162, 174, 197);
    th {
      padding: 1rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
  tbody{
    tr {
      background-color: rgb(55 65 81);
      td {
        padding: 1rem 2rem;
      }
      &:nth-of-type(odd) {
        border-bottom:1px solid var(--css-berkeley-blue);
        background-color: rgb(75 85 99);
      }
    }
  }
  th {
    font-weight: 900;
  }
}

.table-responsive2 {
  overflow-x:auto;
}
.table2 {
	width:100%;
  thead {
    color: var(--css-honeydew);
    background-color: rgb(196, 48, 4);
    th {
      padding: 1rem;
      text-align: center;
      font-size: 1.2rem;
    }
  }
  tbody{
    tr {
      background-color: rgb(250, 150, 120);
      td {
        padding: 1rem 2rem;
      }
      &:nth-of-type(odd) {
        border-bottom:1px solid var(--css-berkeley-blue);
        background-color: rgb(250, 205, 191);
      }
    }
  }
  th {
    font-weight: 900;
  }
}

.app-lightbox {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: zoom-out;
  background-color: var(--bg-color, hsl(0, 0%, 0%, 0.85));
  opacity: 0;
  transition: opacity 0.35s;

  &.is-active {
    pointer-events: initial;
    opacity: 1;
  }
}

:global([data-lightbox]) {
  cursor: zoom-in;
}

.portal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0.2);

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .is-active & {
    transform: scale(1);
  }
}