---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizaje from '@/components/ObjetoAprendizaje.astro'
import Lumi from '@/components/Lumi.astro'
---

<Layout
	title="Valor absoluto"
	description=" En matemáticas, un concepto fundamental, pero que es bastante simple, es el valor absoluto. Sin embargo, su comprensión es crucial para abordar con éxito diversos problemas y teoremas tanto en álgebra como en análisis matemático.
Comprender el valor absoluto no solo implica la parte operativa, sino también su utilidad práctica y teórica. A lo largo de este material, exploraremos qué es, cómo se representa y se calcula, y su relevancia en diferentes áreas de las matemáticas. Además, analizaremos problemas comunes y aplicaciones que ilustran la importancia de este concepto en la vida cotidiana y en el desarrollo del pensamiento matemático.
El objetivo del tema de valor absoluto, también te permitirá aplicar este conocimiento de manera eficaz en tus estudios futuros y en situaciones prácticas. Al final de este recorrido, esperamos que reconozcas la sencillez y la potencia del valor absoluto como una herramienta matemática esencial."
>
	<ObjetoAprendizaje index={0} asignatura={'matematicas_3'} />
	<div class="objeto-aprendizaje mx-auto animate-fade">
		<h3>¿Qué es el valor absoluto?</h3>
		<p>
			El valor absoluto de un número es la distancia entre el número y el cero, por lo que siempre
			es positivo o cero.
		</p>
		<p>
			Se denota matemáticamente con dos líneas verticales y paralelas | |, en las que encierran al
			valor, por ejemplo:
		</p>
		<div class="mx-auto my-10 text-center text-xl">
			<Latex formula="$|x|$, $|4|$, $|-4|$, $|\frac{3}{4}|$" />
		</div>
		<p>
			Ahora observa la siguiente recta numérica y calcularemos <Latex formula="$|5|$" /> la definición.
			La distancia que hay desde el 5 hasta el 0 son 5 unidades, como se muestra a continuación:
		</p>
		<div>ESQUEMA DE LA RECTA 1</div>

		<p>Por lo que <Latex formula="$|5|$" />=5</p>
		Ahora utilicemos este mismo procedimiento para calcular el valor absoluto de <Latex
			formula="$|5|$"
		/> La distancia que hay entre -5 y 0 son 5 unidades, como se muestran a continuación.
		<div>ESQUEMA DE LA RECTA 2</div>
		Por lo que <Latex formula="$|-5|$" />=5
		<p>
			De lo anterior podemos concluir que si el valor dentro de un valor absoluto es positivo o
			negativo mantiene su valor siempre positivo, esto debido a que calculamos una distancia
			(recuerda que no existen distancias negativas).
		</p>

		<p>
			Tomando en cuenta lo anterior, la definición matemática del valor absoluto es la siguiente:
		</p>
		<div class="text-x1 mx-auto my-10 text-center">
			<Latex
				formula="\[ |x| = \begin{cases} x & \text{si } x \geq 0 \\ -x & \text{si } x < 0 \end{cases} \]"
			/>
		</div>
		<p>
			¿Y qué pasa con el valor absoluto de cero?, esta es una propiedad de esta operación. Ahora
			revisemos las propiedades de esta operación.
		</p>

		<div class="my-5">
			<ol>
				<li>Propiedad de no negatividad:</li>
			</ol>
			<div class="text-x1 mx-auto my-10 text-center">
				<Latex formula="$|x|\geq 0$" />
			</div>
			<div class="my-5">
				<p>El valor absoluto de cualquier número real siempre es no negativo Ejemplo:</p>
			</div>
			<div class="text-x1 mx-auto my-10 text-center">
				<Latex formula="$|8|=8$" />
				<Latex formula="$|-15|=15$" />
			</div>
			<li>Identidad del valor absoluto:</li>
			<div class="text-x1 mx-auto my-10 text-center">
				<Latex formula="$|x| = 0 \iff x = 0 $" />
			</div>
			<p>El valor absoluto de número es cero si y solo si el número mismo es cero. Ejemplo:</p>
			<div class="text-x1 mx-auto my-10 text-center">
				<Latex formula="$|0|=0$" />
			</div>

			<li>Multiplicativa:</li>
			<div class="text-x1 mx-auto my-10 text-center">
				<Latex formula="$|x \cdot y| = |x| \cdot |y|$" />
				<p>
					El valor absoluto del producto de dos números es igual al producto de sus valores
					absolutos. Ejemplo:
					<div class="text-x1 mx-auto my-10 text-center">
						<Latex formula="$|(4)(-3)|=|4| \cdot |-3|=4 \cdot 3 = 12$" />
					</div>
				</p>
				<li>Divisibilidad</li>
				<div class="text-x1 mx-auto my-10 text-center">
					<Latex formula="$|\frac{x}{y}|=\frac{|x|}{|y|} \text{ para } y \neq 0$" />
				</div>
				El valor absoluto del cociente de dos números es igual al cociente de sus valores absolutos Ejemplo:
				<div class="text-x1 mx-auto my-10 text-center">
					<Latex formula="$|\frac{7}{-5}|=\frac{|7|}{|-5|}=|frac{7}{5}$" />
				</div>
				<li>Desigualdad triangular del valor absoluto Para cualesquiera dos números reales xyy,</li>
				<div class="text-x1 mx-auto my-10 text-center">
					<Latex formula="$|x+y|=\leq |x|+|y|$" />
				</div>
				<p>
					Esta desigualdad afirma que el valor absoluto de la suma de dos números es siempre menor o
					igual a la suma de los valores absolutos de esos números.
				</p>
				<p>Ejemplo:</p>
				<div class="text-x1 mx-auto my-10 text-center">
					<Latex formula="$|(-5)+4|=\leq |-5|+|4|$" />
					<Latex formula="$|-1| \leq 5+4$" />
					<Latex formula="$1 \leq 9$" />
				</div>
			</div>
			<p>
				Ejercicio Instrucciones: Tomando en cuenta toda la información anterior, selecciona la
				respuesta correcta :
			</p>
		</div>
		 <html class="h5p-iframe">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" /> 
	</div>
</Layout>
