---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Acerca de - Objetos de Matemáticas"
  description="Acerca de SÚMATE - Objetos de Matemáticas"
>
  <div class="mx-auto max-w-screen-xl xl:mt-10">
    <h2
          class="my-5 transform animate-fade-down text-pretty bg-gradient-to-r from-blue
      to-light bg-clip-text px-2 pb-1 font-extrabold text-light text-transparent transition duration-1000 ease-in-out md:px-0 text-2xl md:text-3xl lg:text-4xl"
      >Acerca de SÚMATE</h2>
      <section class="text-white py-12 px-6 max-w-2xl mx-auto text-pretty">
        <div class="max-w-4xl mx-auto">

          <p class="mb-4">
            <strong>SÚMATE</strong> es una iniciativa educativa desarrollada por el Colegio de Ciencias y Humanidades (CCH) de la Universidad Nacional Autónoma de México (UNAM), orientada a fortalecer el aprendizaje  de las asignaturas del Área de Matemáticas entre estudiantes de nivel medio superior y el público en general. Este proyecto ofrece una variedad de actividades y recursos diseñados para consolidar y ampliar los conocimientos matemáticos de los usuarios.
          </p>
          <p class="mb-4">
            El CCH, desde su fundación en 1971, ha promovido un modelo educativo innovador que se basa en tres principios fundamentales: <em>aprender a aprender</em>, <em>aprender a hacer</em> y <em>aprender a ser</em>. Estos principios buscan no solo la adquisición de conocimientos, sino también el desarrollo de habilidades prácticas y la formación de valores éticos y sociales en los estudiantes.
          </p>
          <p class="mb-4">
            En consonancia con este modelo, SÚMATE proporciona materiales que no solo abordan conceptos matemáticos fundamentales, sino que también fomentan el pensamiento crítico y la aplicación práctica de las matemáticas en contextos cotidianos. La plataforma incluye recursos interactivos, ejercicios prácticos y contenidos diseñados para adaptarse a diferentes estilos de aprendizaje, promoviendo así una educación inclusiva y accesible.
          </p>
          <p>
            Además, SÚMATE se alinea con la misión del CCH de preparar a los estudiantes para enfrentar los desafíos de una sociedad en constante cambio, brindándoles herramientas que les permitan comprender y transformar su entorno a través del conocimiento matemático.
          </p>
        </div>
      </section>
  </div>
</Layout>
