---
import Layout from '@/layouts/Layout.astro'
import PersonaCard from '@/components/PersonaCard.astro'
import equipo from '@/data/equipo.json';
import PersonaLinea from '@/components/PersonaLinea.astro'
import PersonaMinidevs from '@/components/PersonaMinidevs.astro';
---

<Layout
  title="Créditos - Objetos de Matemáticas"
  description="Créditos de los recursos utilizados en Objetos de Matemáticas SUMATE."
>
<div class="mx-auto max-w-screen-xl xl:mt-10">
  <h2
        class="my-5 transform animate-fade-down text-pretty bg-gradient-to-r from-blue
    to-light bg-clip-text px-2 pb-1 font-extrabold text-light text-transparent transition duration-1000 ease-in-out md:px-0 text-2xl md:text-3xl lg:text-4xl"
    >Créditos</h2>

    <!-- Desarrolladores -->
    <section class="mb-12">
      <h3 class="text-xl text-cyan-400 font-semibold mb-6">Desarrollo Web</h3>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
        {equipo.desarrolladores.map((persona) => (
          <PersonaCard {...persona} />
        ))}
      </div>
    </section>

     <!-- minidev -->
     <section class="mb-12">
      <h3 class="text-xl text-indigo-400 font-semibold mb-6">Desarrolladores de contenido</h3>
      <div class="grid md:grid-cols-2 gap-4">
        {equipo.minidev.map((persona) => (
          <PersonaMinidevs {...persona} />
        ))}
      </div>
    </section>

    <!-- Coordinación -->
    <section class="mb-12">
      <h3 class="text-xl text-fuchsia-400 font-semibold mb-6">Comité organizador</h3>
      <div class="space-y-4">
        {equipo.coordinacion.map((persona) => (
          <PersonaMinidevs {...persona} />
        ))}
      </div>
    </section>

    <!-- Autores -->
    <section class="mb-12">
      <h3 class="text-xl text-indigo-400 font-semibold mb-6">Autores de contenido</h3>
      <div class="grid md:grid-cols-2 gap-4">
        {equipo.autores.map((persona) => (
          <PersonaLinea {...persona} />
        ))}
      </div>
    </section>



</div>

</Layout>
