---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Summary from '../components/Summary.astro';
import Bento from '../components/Bento.astro';
import Prefooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';
---

<Layout
	title="Objetos de Matemáticas - Los recursos para reforzar tus conocimientos"
	description="Los objetos de matemáticas son recursos para reforzar tus conocimientos. Aquí encontrarás ejercicios, explicaciones y ejemplos para aprender matemáticas.">

	<main>
		<Hero />
		<Summary />
		<Bento />
		<Prefooter />
		<Footer />
	</main>

</Layout>

<style>
	main {
		margin: auto;


		color: white;
		font-size: 20px;
		line-height: 1.6;
	}


</style>
