---
interface Props {
  class?: string;
  title: string;
  slug: string;
  subtitle?: string;
}

const { title, subtitle, slug } = Astro.props;
---

<a href={Astro.props.slug} class="block h-full">
  <article
    class={`
      ${Astro.props.class}
      col-span-5
      relative rounded-xl
      backdrop-blur-md
      border border-light/50
      shadow-inner shadow-white/10
      overflow-hidden
      group
      h-full
    `}
  >
    <div
      class="absolute bottom-0 top-0 z-10 h-full w-full
      bg-gradient-to-b from-transparent from-30% via-dark/80 to-darkblue/90"
    >
    </div>

    <slot name="image" />

    <div
      class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6"
    >
      <h2
        class="mb-4 text-balance text-3xl font-semibold uppercase text-transparent bg-clip-text bg-gradient-to-r to-light from-blue border-b-2 pb-1"
      >
        {title}
      </h2>

      {
        subtitle && (
          <h3 class="-mt-4 mb-4 text-3xl font-semibold text-sky-200/80">
            {subtitle}
          </h3>
        )
      }

      <slot name="content" />
    </div>
  </article>
</a>
