---
interface Props {
    texto?: string
}
const { texto = 'Comprobar respuestas' } = Astro.props
---

<section class="my-10">
  <button
      id="comprobar-btn"
      type="button"
      class="block w-fit rounded-md border border-red bg-red/70 px-4 py-2 transition duration-300 ease-in-out hover:scale-105 hover:bg-red/50 focus:ring-1 mx-auto"
  >
      {texto}
  </button>
  <div id="toggle" class="hidden">
    <slot />
  </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const btn = document.getElementById('comprobar-btn');
        const toggle = document.getElementById('toggle');
        btn?.addEventListener('click', () => {
            toggle?.classList.remove('hidden');
            btn.style.display = 'none';
        });
    });
</script>
