---
interface Props {
  texto?: string
}
const { texto = 'Comprobar respuestas' } = Astro.props
---

<section class="my-10 comprobar-container">
  <button
    type="button"
    class="comprobar-btn block w-fit rounded-md border border-red bg-red/70 px-4 py-2 transition duration-300 ease-in-out hover:scale-105 hover:bg-red/50 focus:ring-1 mx-auto"
  >
    {texto}
  </button>
  <div class="comprobar-toggle hidden">
    <slot />
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.comprobar-container').forEach(container => {
      const btn = container.querySelector('.comprobar-btn');
      const toggle = container.querySelector('.comprobar-toggle');

      if (!(btn instanceof HTMLElement)) return;

      btn.addEventListener('click', () => {
        toggle?.classList.remove('hidden');
        btn.style.display = 'none';
      });
  });
  });
</script>
