---
import menu from "@/config/menu.json";
export interface ChildNavigationLink {
  name: string;
  url: string;
}

export interface NavigationLink {
  name: string;
  url: string;
  hasChildren?: boolean;
  children?: ChildNavigationLink[];
}

const { main }: { main: NavigationLink[] } = menu;
---
<div
  class="bg-darkblue backdrop-blur-sm h-dvh block min-w-full absolute z-20
animate-fade animate-once animate-duration-[2000ms] animate-ease-in-out animate-alternate-reverse pointer-events-none"
>
</div>
<section
  class="text-pretty bg-red text-light lg:h-dvh flex justify-between items-center bg-fixed"
  style="background-image: url('./hero-portada.webp'); background-size: cover; background-position: center;"
>
  <div
    class="lg:h-dvh absolute z-10 min-w-full
  bg-gradient-to-b from-transparent from-10% via-dark/10 to-darkblue pointer-events-none"
  >
  </div>
  <div class="md:grid grid-cols-2 items-center">
    <div
      class="bg-lightblue/70 p-10 xl:px-24 bg-blend-multiply backdrop-blur-sm
    border-b-8 border-blue"
    >
      <h1
        class="text-pretty uppercase font-extrabold text-3xl lg:text-5xl text-red"
      >
        Recursos de aprendizaje SUMATE
      </h1>
      <h2 class="text-pretty uppercase font-extrabold text-1xl lg:text-2xl text-darkblue">
        Domina las matemáticas, sin miedo y a tu ritmo.
      </h2>
      <p class="text-pretty max-w-5xl mt-10 text-xl text-dark">
        Los temas difíciles por fin <em>te van a hacer clic</em>. Apréndelos con explicaciones que sí se entienden.
      </p>
    </div>
    <div class="w-full md:max-w-xl lg:max-w-3xl mx-auto flex flex-col bg-darkblue/70 pb-5 md:pb-0 md:p-5  lg:p-10 shadow-2xl h-full">
      <div class="h-full flex flex-col justify-between md:items-center md:justify-center">
        <div class="bg-slate-50 px-4 py-1 md:rounded-xl text-pretty uppercase font-extrabold text-1xl lg:text-xl text-darkblue self-center w-full md:w-auto border border-slate">
          🔍 Explora por asignatura
        </div>
        <div class="grid grid-cols-2 xl:grid-cols-4 gap-x-5 gap-y-2 pt-5">
          {main.map((menu) =>
            menu.children?.map((child) => (
              <div class="flex items-center h-auto justify-center text-center">
                  <a
                  href={child.url}
                  class="bg-lightblue/70 px-4 py-2 text-darkblue rounded-lg hover:bg-blue hover:text-light transition-all duration-300 ease-in-out h-auto leading-tight border border-blue"
                  >

                  {child.name}
                </a>
              </div>
            ))
          )}
        </div>
      </div>
    </div>
  </div>
</section>
