---
import menu from "@/config/menu.json";
import Lupa from "@/icons/Lupa.astro";

export interface NavigationLink {
  name: string;
  url: string;
  short?: string;
}

const { main } = menu;
---
<div
  class="bg-darkblue backdrop-blur-sm h-dvh block min-w-full absolute z-20
animate-fade animate-once animate-duration-[2000ms] animate-ease-in-out animate-alternate-reverse pointer-events-none"
>
</div>
<section
  class="text-pretty bg-red text-light lg:h-dvh flex justify-between items-center bg-fixed"
  style="background-image: url('./hero-portada.webp'); background-size: cover; background-position: center;"
>
  <div
    class="lg:h-dvh absolute z-10 min-w-full
  bg-gradient-to-b from-transparent from-10% via-dark/10 to-darkblue pointer-events-none"
  >
  </div>
  <div class="md:grid grid-cols-2 items-center">
    <div
      class="bg-lightblue/70 p-10 xl:px-24 bg-blend-multiply backdrop-blur-sm
    border-b-8 border-blue"
    >
      <h1
        class="text-pretty uppercase font-extrabold text-3xl lg:text-5xl text-red"
      >
        Recursos de aprendizaje SUMATE
      </h1>
      <h2 class="text-pretty uppercase font-extrabold text-1xl lg:text-2xl text-darkblue">
        Domina las matemáticas, sin miedo y a tu ritmo.
      </h2>
      <p class="text-pretty max-w-5xl mt-10 text-xl text-dark">
        Los temas difíciles por fin <em>te van a hacer clic</em>. Apréndelos con explicaciones que sí se entienden.
      </p>
    </div>
    <div class="w-full  mx-auto flex flex-col bg-darkblue/70 pb-5 md:pb-0 md:p-5  lg:p-10 shadow-2xl h-full ">
      <div class="h-full flex flex-col justify-between md:items-center md:justify-center">
        <div class="bg-slate-50 px-4 py-1 md:rounded-3xl text-pretty uppercase font-extrabold text-1xl lg:text-xl text-darkblue self-center w-full md:w-auto border border-slate md:order-2 flex items-center gap-2">
          <Lupa class="size-6 inline" /> Explora por asignatura
        </div>
        <div class="flex flex-wrap gap-x-5 gap-y-2 pt-5 justify-center my-10">
          {main.map((menu) =>
            menu.children?.map((text) => (
            <div class="relative group">
              <a
                href={text.url}
                class="flex justify-center items-center text-center font-bold transition-all duration-300 ease-in-out border border-blue hover:bg-blue hover:text-light
                  bg-darkblue/70 text-lightblue
                  rounded-full overflow-hidden
                  px-4 py-2 text-sm
                  md:w-10 md:h-10 md:px-0 md:py-0 md:text-base"
              >
                {/* Mobile: nombre completo */}
                <span class="block md:hidden">{text.name}</span>

                {/* Desktop: short en círculo */}
                <span class="hidden md:block">{text.short}</span>
              </a>

              {/* Tooltip solo visible en desktop */}
              <div
                class="hidden md:block absolute -top-11 left-1/2 -translate-x-1/2 bg-darkblue text-light text-xs font-semibold px-3 py-2 rounded-lg opacity-0 scale-95 group-hover:opacity-100 group-hover:scale-100 transition-all duration-300 ease-out pointer-events-none z-50 whitespace-nowrap shadow-lg"
              >
                {text.name}
                <div class="absolute left-1/2 -translate-x-1 -bottom-1 w-2 h-2 bg-darkblue rotate-45"></div>
              </div>
            </div>



            ))
          )}
      </div>
    </div>
  </div>
</section>
