<section
  class="text-pretty bg-red text-light h-dvh w-auto mx-auto flex justify-center items-center"
>
  <div class="grid grid-cols-2">
    <div class="flex flex-col justify-center ">
      <h1 class="text-pretty">
        Objetos de aprendizaje: Matemáticas nivel bachillerato
      </h1>
      <p class="text-pretty max-w-5xl">
        En esta sección encontrarás objetos de aprendizaje para el nivel de
        bachillerato, en el área de matemáticas. Estos objetos de aprendizaje
        han sido diseñados para que los estudiantes puedan reforzar sus
        conocimientos en matemáticas, a través de ejercicios interactivos y
        dinámicos.
      </p>
    </div>
  </div>
</section>
