<div
  class="bg-darkblue backdrop-blur-sm h-dvh block min-w-full absolute z-20
animate-fade animate-once animate-duration-[2000ms] animate-ease-in-out animate-alternate-reverse"
>
</div>
<section
  class="text-pretty bg-red text-light lg:h-dvh flex justify-between items-center bg-fixed"
  style="background-image: url('./hero-portada.webp'); background-size: cover; background-position: center;"
>
  <div
    class="lg:h-dvh absolute z-10 min-w-full
  bg-gradient-to-b from-transparent from-10% via-dark/10 to-darkblue"
  >
  </div>
  <div
    class="bg-lightblue/70 p-10 xl:px-24 bg-blend-multiply backdrop-blur-sm xl:w-1/2
  border-b-8 border-blue"
  >
    <h1
      class="text-pretty uppercase font-extrabold text-3xl lg:text-6xl text-red"
    >
      Objetos de aprendizaje
    </h1>
    <h2 class="text-pretty uppercase font-extrabold text-1xl lg:text-2xl text-darkblue">
      Matemáticas nivel bachillerato
    </h2>
    <p class="text-pretty max-w-5xl mt-10 text-xl text-dark">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quae
      voluptates
    </p>
  </div>
</section>
