<div
  class="bg-darkblue backdrop-blur-sm h-dvh w-dvw absolute z-20
animate-fade-right animate-once animate-duration-[2000ms] animate-ease-in-out animate-alternate-reverse"
>
</div>
<div
  class="h-dvh w-dvw absolute z-10
  bg-gradient-to-b from-transparent from-10% via-dark/10 to-darkblue"
>
</div>
<section
  class="text-pretty bg-red text-light h-dvh w-full mx-auto flex justify-between items-center bg-fixed"
  style="background-image: url('./hero-portada.webp'); background-size: cover; background-position: center;"
>
  <div
    class="bg-lightblue/70 p-10 xl:px-24 bg-blend-multiply backdrop-blur-sm w-100 xl:w-1/2
  border-b-8 border-blue "
  >
    <h1
      class="text-pretty uppercase font-extrabold text-3xl lg:text-6xl text-red"
    >
      Objetos de aprendizaje
    </h1>
    <h2 class="text-pretty uppercase font-extrabold text-1xl lg:text-2xl">
      Matemáticas nivel bachillerato
    </h2>
    <p class="text-pretty max-w-5xl mt-10 text-xl">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos, quae
      voluptates
    </p>
  </div>
</section>
