---
import { Icon } from "astro-icon/components";
---
<div class="my-10 w-1/2 mx-auto bg-red h-1 flex items-center justify-center rounded-xl">
  <Icon class="size-12 text-lightblue" name="bi:usb-c" />
</div>
