---
interface Props {
	caption?: string
	src?: string
	border?: boolean
}

const { caption, src, border } = Astro.props as Props
---

<div class="text-center">
	<div class={`${border ? 'bg-white p-1 sm:p-5' : 'p-0'}`}>
		<img alt={caption} src={`${src}`} class="mx-auto aspect-auto" alt="" />
	</div>
	<div class={`img-caption mx-auto text-white`}>
		{caption}
	</div>
</div>
