---
interface Props {
  border?: string;
}
const { border = "border-slate-100" } = Astro.props as Props;
---
<div class={`max-w-3xl mx-auto text-center p-4 my-10 border-2 ${border}`}>
  <slot />
</div>