---
import Abaco from "@/icons/Abaco.astro";
import Graduado from "@/icons/Graduado.astro";
import Libro from "@/icons/Libro.astro";
import TarjetaNivel from "@/components/TarjetaNivel.astro";
---
<section class="max-w-5xl mx-auto mt-10 px-4">
  <!-- Título principal con gradiente -->
  <h2
    class="my-5 text-3xl font-extrabold text-light lg:text-4xl animate-fade-down overflow-hidden transform transition duration-1000 ease-in-out"
  >
    <span
      class="text-transparent bg-clip-text bg-gradient-to-r to-light from-lightblue"
    >
      No importa en qué punto estés, tenemos algo para ti.
    </span>
  </h2>

  <!-- Subtítulo -->
  <p class="text-2xl mb-10 text-light">
    Empieza a construir desde aquí.
  </p>

  <!-- Tarjetas -->
  <div class="grid grid-cols-1 px-14 md:px-0 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <TarjetaNivel
      icono={Abaco}
      nivel="Nivel 1"
      descripcion="“Estoy en bachillerato”"
    />
    <TarjetaNivel
      icono={Libro}
      nivel="Nivel 2"
      descripcion="“Me estoy preparando para un examen”"
    />
    <TarjetaNivel
      icono={Graduado}
      nivel="Nivel 3"
      descripcion="“Acabo de entrar a la uni”"
    />
  </div>
</section>
