<section class="max-w-5xl mx-auto mt-10">
  <h2
  class="my-5 text-3xl font-extrabold text-light lg:text-4xl
  animate-fade-down overflow-hidden transform transition
  duration-1000 ease-in-out"
  >
    <span
    class="text-transparent bg-clip-text bg-gradient-to-r to-light from-lightblue"
    >
    No importa en qué punto estés, tenemos algo para ti.
    </span>
  </h2>
  <p class="text-2xl mb-10">No importa tu nivel, puedes empezar a construir desde ahí.</p>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="bg-lightblue/70 p-5 rounded-lg shadow-lg">
      <h3 class="text-darkblue font-bold text-xl">Nivel 1</h3>
      <p class="text-dark">“Estoy en bachillerato”</p>
    </div>
    <div class="bg-lightblue/70 p-5 rounded-lg shadow-lg">
      <h3 class="text-darkblue font-bold text-xl">Nivel 2</h3>
      <p class="text-dark"> “Me estoy preparando para un examen”</p>
    </div>
    <div class="bg-lightblue/70 p-5 rounded-lg shadow-lg">
      <h3 class="text-darkblue font-bold text-xl">Nivel 3</h3>
      <p class="text-dark">“Acabo de entrar a la uni”</p>
    </div>
  </div>
</section>