---
import { asignaturas } from "@/pages/asignaturas/asignaturas.json";
const asignaturaNames = ["matematicas_1"];
let objetos_aprendizaje: any[] = [];
asignaturaNames.forEach((name) => {
  if (asignaturas[name as keyof typeof asignaturas]) {
    objetos_aprendizaje = [
      ...objetos_aprendizaje,
      ...asignaturas[name as keyof typeof asignaturas].objetos_aprendizaje,
    ];
  }
});
let randomIndex = Math.floor(Math.random() * objetos_aprendizaje.length);
let objeto_aprendizaje = objetos_aprendizaje[randomIndex];
---

<a href={objeto_aprendizaje.slug}>
  <article
    class="relative rounded-xl
      backdrop-blur-md
      border border-light/50
      shadow-inner shadow-white/10
      overflow-hidden
      group
      h-full"
  >
    <div
      class="absolute bottom-0 top-0 z-10 h-full w-full
      bg-gradient-to-b from-transparent from-30% via-dark/80 to-darkblue/90"
    >
    </div>
    <img
      class="background transition-scale absolute bottom-0 left-0 top-0
              -z-10 h-full w-full
              bg-cover bg-center bg-no-repeat opacity-90 bg-blend-multiply duration-1000 ease-in-out group-hover:scale-110"
      src={objeto_aprendizaje.portada}
      alt={objeto_aprendizaje.titulo}
    />
    <div
      class="relative z-20 flex h-full select-none flex-col justify-end gap-1 p-4 text-lg md:p-6"
    >
      <h3
        class="mb-4 text-balance text-3xl font-semibold uppercase text-transparent bg-clip-text bg-gradient-to-r to-light from-blue border-b-2 pb-1"
      >
        {objeto_aprendizaje.titulo}
      </h3>
    </div>
  </article>
</a>
