---
import { asignaturas } from "@/pages/asignaturas/asignaturas.json";
const asignaturaNames = [
  "matematicas_1",
];
let objetos_aprendizaje: any[] = [];
asignaturaNames.forEach((name) => {
  if (asignaturas[name as keyof typeof asignaturas]) {
    objetos_aprendizaje = [
      ...objetos_aprendizaje,
      ...asignaturas[name as keyof typeof asignaturas].objetos_aprendizaje,
    ];
  }
});
let randomIndex = Math.floor(Math.random() * objetos_aprendizaje.length);
---

<ul class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
  <li>
    <a
      href={objetos_aprendizaje[
        Math.floor(Math.random() * objetos_aprendizaje.length)
      ].slug}
    >
      <img
        src={objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].portada}
        alt={objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].titulo}
      />
      {
        objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].titulo
      }
    </a>
  </li>
  <li>
    <a
      href={objetos_aprendizaje[
        Math.floor(Math.random() * objetos_aprendizaje.length)
      ].slug}
    >
      <img
        src={objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].portada}
        alt={objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].titulo}
      />
      {
        objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].titulo
      }
    </a>
  </li>
  <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
    <a
      href={objetos_aprendizaje[
        Math.floor(Math.random() * objetos_aprendizaje.length)
      ].slug}
    >
      <img
        src={objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].portada}
        alt={objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].titulo}
      />
      {
        objetos_aprendizaje[
          Math.floor(Math.random() * objetos_aprendizaje.length)
        ].titulo
      }
    </a>
  </li>
</ul>
<section class="w-25">
  <ul class="mt-8 grid grid-cols-1 gap-4 lg:grid-cols-3">
    <li>
      <a href="#" class="group relative block">
        <img
          src="https://images.unsplash.com/photo-1618898909019-010e4e234c55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
          alt=""
          class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
        />

        <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
          <h3 class="text-xl font-medium text-white">Casual Trainers</h3>

          <span
            class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            Shop Now
          </span>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="group relative block">
        <img
          src="https://images.unsplash.com/photo-1624623278313-a930126a11c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
          alt=""
          class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
        />

        <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
          <h3 class="text-xl font-medium text-white">Winter Jumpers</h3>

          <span
            class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            Shop Now
          </span>
        </div>
      </a>
    </li>

    <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
      <a href="#" class="group relative block">
        <img
          src="https://images.unsplash.com/photo-1593795899768-947c4929449d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80"
          alt=""
          class="aspect-square w-full object-cover transition duration-500 group-hover:opacity-90"
        />

        <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
          <h3 class="text-xl font-medium text-white">Skinny Jeans Blue</h3>

          <span
            class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white"
          >
            Shop Now
          </span>
        </div>
      </a>
    </li>
  </ul>
</section>
