---
export interface Props {
  icono: any;
  nivel: string;
  descripcion: string;
}

const { icono: Icono, nivel, descripcion } = Astro.props;
---
<div
  class="bg-lightblue/70 p-6 rounded-xl shadow-xl border-2 border-transparent hover:border-blue hover:shadow-2xl hover:scale-[1.03] transition-all duration-300 ease-in-out cursor-pointer group relative overflow-hidden"
>
  <!-- Título con subrayado animado -->
  <h3
    class="text-darkblue font-extrabold text-2xl mb-2 relative after:absolute after:-bottom-3 after:left-0 after:h-[3px] after:w-0 group-hover:after:w-full after:bg-blue after:transition-all after:duration-300 flex items-center gap-4"
  >
    <Icono class="size-14 bg-darkblue p-1 rounded-full" /> {nivel}

  </h3>

  <p class="text-dark italic mt-5">{descripcion}</p>
</div>