---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizaje from "@/components/ObjetoAprendizaje.astro";
import GeogebraLink from '@/components/GeogebraLink.astro'
import Lumi from '@/components/Lumi.astro'
import ImagenCaption from '@/components/ImagenCaption.astro'
import BgFluido from '@/components/BgFluido.astro'
---

<Layout
  title="Limite de una función"
  description=""
>

    <ObjetoAprendizaje index={2} asignatura={"calculo"} />
    <div class="objeto-aprendizaje mx-auto animate-fade">
      <div class="mx-auto mb-5 max-w-screen-xl">
        <h3>Rebotes infinitos</h3>
        <p>Observa el siguiente video tutorial, en el cual se puede apreciar cómo modelar un fenómeno de caída libre mediante el concepto de límite.</p>
        </div>
        <div>
          <BgFluido>

              <div>
                <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elmatematicodecch/video/7137518212786162950" data-video-id="7137518212786162950" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@elmatematicodecch" href="https://www.tiktok.com/@elmatematicodecch?refer=embed">@elmatematicodecch</a> <a title="elmatematicodecch" target="_blank" href="https://www.tiktok.com/tag/elmatematicodecch?refer=embed">#elmatematicodecch</a><a title="ilovemaths" target="_blank" href="https://www.tiktok.com/tag/ilovemaths?refer=embed">#ilovemaths</a> <a target="_blank" title="♬ sonido original - Elmatematicodecch" href="https://www.tiktok.com/music/sonido-original-7137518223092026118?refer=embed">♬ sonido original - Elmatematicodecch</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
            </div>
            </BgFluido>
        </div>
        <div class="mx-auto mb-5 max-w-screen-xl">
          <h4>Para practicar:</h4>
          <p>Considera una pelota como la que se menciona en el video tutorial, con la diferencia de que ésta solamente recupera <Latex formula="\\dfrac{3}{7}" inline={true}/> partes de su altura anterior en cada rebote.</p>
          <ol class="ol-alpha">
            <li>Encuentra la expresión matemática que permite calcular la distancia recorrida por la pelota en el n-ésimo rebote.</li>
            <li>Determina la distancia total recorrida por la pelota hasta que ésta se detiene por completo.</li>
          </ol>

          <h4>Una forma exhaustiva de caminar </h4>

          <div class="grid gap-7 lg:grid-cols-2 lg:gap-10">
            <div>
            <p class="text-justify">
              La tortuga de Aquiles, además de perezosa, es una gran matemática. Se ha propuesto caminar de una manera muy particular: Cada día solo avanzará la mitad de la distancia que la separa de su objetivo final. Procediendo de esa manera, asegura que podría llegar a cualquier lado, pero siempre demorando toda una eternidad.
              Observa el siguiente video y pon atención a la manera en que el concepto de límite nos permite simplificar procesos infinitos. </p>

          </div>
              <ImagenCaption
                src="/calculo/limite-funcion/img01.jpg"
              />
          </div>
        </div>
        <div>
          <BgFluido>

              <div>
               <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@elmatematicodecch/video/7137103434586606853" data-video-id="7137103434586606853" style="max-width: 605px;min-width: 325px;" > <section> <a target="_blank" title="@elmatematicodecch" href="https://www.tiktok.com/@elmatematicodecch?refer=embed">@elmatematicodecch</a> <a title="elmatematicodecch" target="_blank" href="https://www.tiktok.com/tag/elmatematicodecch?refer=embed">#Elmatematicodecch</a><a title="ilovemaths" target="_blank" href="https://www.tiktok.com/tag/ilovemaths?refer=embed">#ilovemaths</a> <a target="_blank" title="♬ sonido original - Elmatematicodecch" href="https://www.tiktok.com/music/sonido-original-7137103499149478662?refer=embed">♬ sonido original - Elmatematicodecch</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
            </div>
            </BgFluido>
        </div>

        <Lumi
          src="/calculo/limite-funcion/p1 ej1.html"
          nombre="Actividad"
          instrucciones="Una vez revisado el video, arrastra las palabras para completar el texto."
        />
        <br>
        <br>
        <div class="mx-auto mb-5 max-w-screen-xl">
          <h4>Para practicar: </h4>
          <p>Vamos a suponer que la tortuga de Aquiles se propone avanzar de la siguiente manera: el primer día avanza <Latex formula="\\frac{1}{4} " inline={true}/> del total del camino; al segundo avanzará <Latex formula="\\frac{1}{4} " inline={true}/> de los que resta y así sucesivamente. ¿Llegará al mismo sitio que en el caso analizado en el video? ¿Puedes hacer el cálculo para el caso de que la tortuga avance cada día <Latex formula="\\frac{2}{5} " inline={true}/> partes del camino por recorrer?</p>
        </div>


    </div>

</Layout>
