---
import Layout from '@/layouts/Layout.astro'
import Latex from '@/components/Latex.astro'
import ObjetoAprendizajePantalla from '@/components/ObjetoAprendizajePantalla.astro'
import ImagenFullCaption from '@/components/ImagenFullCaption.astro'
---

<Layout>
	<ObjetoAprendizajePantalla index={2} pantallaIndex={6} asignatura={'estadistica'} />
	<!-- Cambiar el número de pantallaIndex de manera incremental, 0 es la primera -->
	<div class="objeto-aprendizaje mx-auto animate-fade"><div class="mx-auto mb-5 max-w-screen-xl">


		</div>
	</div>
</Layout>
