---
import Layout from "@/layouts/Layout.astro";
import Latex from "@/components/Latex.astro";
import ObjetoAprendizaje from "@/components/ObjetoAprendizaje.astro";
---

<Layout
  title="Objetos de Matemáticas - Los recursos para reforzar tus conocimientos"
  description="Los objetos de matemáticas son recursos para reforzar tus conocimientos. Aquí encontrarás ejercicios, explicaciones y ejemplos para aprender matemáticas."
>
  <main>
    <ObjetoAprendizaje
      index={0}
      asignatura={"matematicas_1"}
    />
    <div class="text-center h-dvh">
      Hola te apesta la cola <Latex formula="E=mc^2" /> y te gusta el pico <Latex
        formula="E=mc^32"
      />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
